<div class = "col-10 offset-1 about">
	<h1>About Splurty</h1>
	<p>
    Splurty was built by <a target="_blank" href="http://github.com/RMukerjee416">Raj</a>. He is a budding web developer. He is currently taking online courses hosted by the University of Toronto, and he is enjoying the program. This is one of his lessons.
  </p>
  <br />
  <p>
    He plans to build and develop software and websites for others in the future. He will pick up other programming languages along the way.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

	<br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">More about Raj</h2>
      <br />
      <p>
        Rajkumar Mukerjee (nickname: "Raj") is learning new things everyday. He was very enthusiastic in building this Splurty app. This was his 15th lesson and he wants to cover more material in the future!
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


</div>