<div class = "col-10 offset-1 about">
	<h1>About Splurty</h1>
	<p><h5>
    Splurty was built by <a target="_blank" href="http://github.com/RMukerjee416">Raj</a>. It is his first foray into Ruby on Rails apps. It provides a platform for sharing motivational quotes. Visitors can submit their phrases here for others to absorb! Ideas are everything. So, go ahead and post something from your favourite historian, leader, athlete, celebrity... It may inspire someone! &#128521  
  </h5></p>
  <br />
  <p>
    Also, if you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>! &#128077
  </p>

	<br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h1 class="text-center">More about Raj</h1>
      <br />
      <p><h5>
        Raj Mukerjee is learning new things everyday. He was very enthusiastic in building Splurty! He aspires to become a programmer. He is curious about building websites and apps as he is interested in enhancing his technical skills. He is very detail-oriented at work. Besides that, he also likes being outdoors. And there is never a shortage of action films for him to follow! &#128514
      </h5></p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


</div>